<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__columns">
        <div class="footer__column">
          <div class="footer__column__header">
            Документы
          </div>
          <ul>
            <li class="footer__links"><a href="#">Политика AML</a></li>
            <li class="footer__links"><a href="#">Политика возврата денежных средств</a></li>
            <li class="footer__links"><a href="#">Политика конфиденциальности</a></li>
            <li class="footer__links"><a href="#">Пользовательское соглашение</a></li>
            <li class="footer__links"><a href="#">Уведомление о рисках</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__column__header">
            Страницы
          </div>
          <ul>
            <li class="footer__links"><a href="/">Главная</a></li>
            <li class="footer__links"><a href="/about.html">О Нас</a></li>
            <li class="footer__links"><span>Торговля</span></li>
            <li class="footer__sublinks"><a href="/trading.html">Торговая платформа</a></li>
            <li class="footer__sublinks"><a href="/trading.html">Управленческий консалтинг</a></li>
            <li class="footer__sublinks"><a href="/portfolio.html">Инвестиционные портфели</a></li>
            <li class="footer__links"><a href="/analytics.html">Аналитика</a></li>
            <li class="footer__links"><a href="/contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__info">
        <div class="footer__paragraph">
          <div class="footer__paragraph__title">
            Правовая информация:
          </div>
          <div class="footer__paragraph__text">
            <p>Бренд GFS ( Global Finance System ) принадлежит компании</p>
            <p><b>GLOBAL FINANCE AND COMPLIANCE HUB (UK) LIMITED</b></p>
          </div>
        </div>
        <div class="footer__paragraph">
          <div class="footer__paragraph__title">
            Уведомление о рисках
          </div>
          <div class="footer__paragraph__text">
            Торговля валютами, контрактами на разницу (CFD) и другими активами с привлечением заемных средств несет высокий риск для капитала и подходит не всем инвесторам. 
            Прежде чем начать торговать, убедитесь, что вы полностью понимаете связанные с этим риски, учитываете свои инвестиционные цели и уровень опыта, а при необходимости 
            обратитесь за консультацией к независимому эксперту. Пожалуйста, прочтите полное предупреждение о риске.
          </div>
        </div>
        <div class="footer__paragraph">
          <div class="footer__paragraph__title">
            Региональные ограничения:
          </div>
          <div class="footer__paragraph__text">
            Услуги и информация на сайте не предназначены для граждан/резидентов США, а также для распространения или использования любым лицом в любой стране или юрисдикции,
            где такое распространение или использование противоречило бы местному законодательству или нормативным актам.
          </div>
        </div>
        <div class="footer__paragraph">
          <div class="footer__paragraph__text">
            <p>GLOBAL FINANCE AND COMPLIANCE HUB (UK) LIMITED Company number 12946252</p>
            <p>Registered office address
              46 Stapleton Road, Bexleyheath, England, DA7 5QQ</p>
          </div>
        </div>
        <div class="footer__paragraph">
          <div class="footer__paragraph__text">© 2021 </div>
        </div>
      </div>
    </div>
  </div>
</footer>