*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;	color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

$primaryColor: #FF4919;
$primaryTextColor: #F6F6F6;
$dark: #2D2D2D;

$desktop: 1080px;
$medium: 768px;
$mobile: 576px;

.wrapper {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1230px;
	padding: 0 20px;
}

@media(max-width: $medium) {
	.container {
		padding: 0 13px;
	}
}

.button {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 48px;
	box-sizing: border-box;
	border-radius: 46px;
	font-weight: 600;

	&_outlined {
		border: 1px solid $primaryColor;
		color: $primaryColor !important;

		&:hover {
			background-color: $primaryColor;
			color: #fff !important;
		}
	}

	&_filled {
		background-color: $primaryColor;
		color: #fff !important;

		&:hover {
			background-color: rgba($color: #fff, $alpha: 0);
			border: 1px solid $primaryColor;
			color: $primaryColor !important;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100px;

	&__toggle {
		display: none;
	}

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		flex: 1 1 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px	;
		font-weight: 400;
		color: #000;
		padding: 0 20px 0 0;
	}

	&__links {
		
	}

	&__link {
		display: inline-block;
		margin: 0 35px 0 0;
		position: relative;

		&:last-child {
			margin: 0;
		}

		a {
			
			&:hover {
				color: $primaryColor;
				text-decoration: underline;
			}
		}
	}

	&__popup {
		display: none;
		position: absolute;
    top: 60px;
    background-color: #fff;
    padding: 20px 30px;

		&.show {
			display: block;
		}

		&__links {
			width: 300px;
		}

		&__link {
			margin: 0 0 20px 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button {
		margin: 0 20px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&__lang {
		&__select {
			
		}
		&__selector {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 -3px;

			span {
				padding: 0 3px;
			}
		}
	}
	
}

@media(max-width: $desktop) {
	.header {
		&__toggle {
			position: relative;
			display: block;
			width: 27px;
			height: 14px;
			cursor: pointer;
			transition: 0.5s;

			&::before {
				content: '';
				width: 13.5px;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			&::after {
				content: '';
				width: 19px;
				height: 2px;
				background-color: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			span {
				content: '';
				width: 27px;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 45%;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			&.active {
				&::before, &::after {
					width: 24px;
				}

				&::before {
					transform: rotate(45deg) translateY(8px);
				}

				&::after {
					transform: rotate(-45deg) translateY(-9px);
				}

				span {
					transform: scale(0);
				}
			}
		}

		&__menu {
			display: none;
		}
	}
}

.root {
	width: 100%;
	flex: 1 1 100%;
}


.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $dark;

	&__body  {
		display: flex;
		flex-direction: column;
		padding: 60px 0;
		color: #fff;
	}

	&__columns {
		display: flex;
		margin: 0 0 80px 0;
	}

	&__column  {
		display: flex;
		flex-direction: column;
		margin: 0 120px 0 0;

		&:last-child {
			margin: 0px;
		}
		
		&__header {
			margin: 0 0 50px 0;
			font-size: 20px;
			color: $primaryColor;
		}
	}

	&__links {
		margin: 0 0 20px 0;
		a {
			color: #fff;
			font-size: 16px;
			line-height: 19px;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__sublinks {
		margin: 0 0 20px 30px;

		a {
			color: #fff;
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__info  {
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}

	&__paragraph  {
		margin: 0 0 20px 0;
		
		&__title  {
			font-weight: 600;
			margin: 0 0 5px 0;
		}

		&__text  {
			line-height: 16px;
		}
	}

}

@media(max-width: $mobile) {
	.footer {

		&__columns {
			flex-direction: column;
		}

		&__column {
			margin: 0 0 55px 0;
		}
	}

}
