*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;	color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.ibg{

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
	.ibg img{
	
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}

$primaryColor: #FF4919;
$primaryTextColor: #F6F6F6;
$dark: #2D2D2D;

$desktop: 1080px;
$medium: 768px;
$mobile: 576px;

.wrapper {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1230px;
	padding: 0 20px;

	&.section {
		z-index: 2;
	}
}

@media(max-width: $medium) {
	.container {
		padding: 0 13px;
	}
}

.button {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 48px;
	box-sizing: border-box;
	border-radius: 46px;
	font-weight: 600;
	font-size: 18px;

	&_outlined {
		border: 1px solid $primaryColor;
		color: $primaryColor !important;

		&:hover {
			background-color: $primaryColor;
			color: #fff !important;
		}
	}

	&_filled {
		background-color: $primaryColor;
		color: #fff !important;

		&:hover {
			background-color: rgba($color: #fff, $alpha: 0);
			border: 1px solid $primaryColor;
			color: $primaryColor !important;
		}
	}
}

h1 {
	font-size: 48px;
	font-weight: 600;

	@media(max-width: $mobile) {
		font-size: 24px;
	}
}

.accent {
	font-size: 72px;
	font-weight: 600;
	color: $primaryColor;
}

.cards {
	&__row {
		width: 100%;
		display: flex;
		margin: 0 -15px;

		&._big {
			justify-content: space-between;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		flex: 0 0 25%;
		padding: 0 15px;

		&:last-child {
			padding: 0 0 0 15px;
		}

		&._big {
			flex: 0 0 495px;
		}
	}

	&__item {
		height: 100%;
		padding: 60px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
		box-shadow: 2.41255e-15px 14px 71px rgba(50, 50, 50, 0.05), inset -5.41484e-16px -8px 5px rgba(226, 226, 226, 0.5), inset 5.41484e-16px 8.84311px 5px #FFFFFF;
		border-radius: 20px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 60px;
		height: 60px;
		margin: 0 0 30px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
		}
	}

	&__title {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		margin: 0 0 20px 0;
	}

	&__text {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin: 30px 0 0 0;
		justify-self: flex-end;
	}

	@media(max-width: $desktop) {
		&__wrap {
			&._big {
				flex: 0 0 45%;
			}
		}
	}

	@media(max-width: $medium) {

		&__row {
			flex-wrap: wrap;
		}

		&__wrap {
			flex: 0 0 50%;
			margin: 15px 0;

			&:last-child {
				padding: 0 15px;
			}

			&._big {
				flex: 0 0 100%;
			}
		}
	}

	@media(max-width: $mobile) {
		&__row {
			margin: 0 -7.5px;
		}

		&__wrap {
			flex: 0 0 50%;
			margin: 7.5px 0;
			padding: 0 7.5px;

			&:last-child {
				padding: 0 15px;
			}
		}

		&__item {
			padding: 40px 10px;
		}
	
		&__img {
			margin: 0 0 10px 0;
		}
	
		&__title {
			font-size: 16px;
			margin: 0 0 10px 0;
		}
	
		&__text {
			font-size: 14px;
			font-weight: 400;
		}
	}
}

.tabs {

	&__header {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&__tab {
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		cursor: pointer;
		padding: 0 20px;

		&:hover, &.active {
			color: $primaryColor;
			text-decoration: underline;
		}
	}

	&__content {
		margin: 60px 0 0 0;
	}

	&__tab-body {
		display: none;
		padding: 20px;

		&.active {
			display: block;
		}
	}

	@media(max-width: $medium) {
		&__header {
			justify-content: center;
			align-items: center;
		}

		&__tab {
			margin: 10px 0;
		}

		&__content {
			margin: 30px 0 0 0;
		}
	}
}


.header {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 5;

	&__toggle {
		display: none;
	}

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		flex: 1 1 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px	;
		font-weight: 400;
		color: #000;
		padding: 0 20px 0 0;
	}

	&__links {
		
	}

	&__link {
		display: inline-block;
		margin: 0 35px 0 0;
		position: relative;

		&:last-child {
			margin: 0;
		}

		a {
			
			&:hover {
				color: $primaryColor;
				text-decoration: underline;
			}
		}

		&.toggle {
			display: none;
		}
	}

	&__popup {
		display: none;
		position: absolute;
    top: 60px;
    background-color: #fff;
    padding: 20px 30px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 5px;

		&.show {
			display: block;
		}

		&__links {
			width: 300px;
		}

		&__link {
			margin: 0 0 20px 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button {
		margin: 0 20px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&__lang {
		&__select {
			
		}
		&__selector {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 -3px;
			cursor: pointer;

			span {
				padding: 0 3px;
			}
		}

		&__options {
			display: none;
			position: absolute;
			top: 80px;
			right: 120px;
			padding: 10px 20px;
			background: #FFFFFF;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			border-radius: 5px;

			&.active {
				display: block;
			}
		}

		&__option {
			padding: 3px 6px;
			
			&__body {
				position: relative;
				display: flex;
				align-items: center;
				padding: 5px 0 5px 32px;
			}

			&__img {
				width: 30px;
				height: 30px;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	
}

@media(max-width: $desktop) {
	.header {
		height: 64px;

		&__toggle {
			position: relative;
			display: block;
			width: 27px;
			height: 14px;
			cursor: pointer;
			transition: 0.5s;

			&::before {
				content: '';
				width: 13.5px;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			&::after {
				content: '';
				width: 19px;
				height: 2px;
				background-color: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			span {
				content: '';
				width: 27px;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 45%;
				left: 0;
				border-radius: 2px;
				transition: 0.5s;
			}

			&.active {
				&::before, &::after {
					width: 24px;
				}

				&::before {
					transform: rotate(45deg) translateY(8px);
				}

				&::after {
					transform: rotate(-45deg) translateY(-9px);
				}

				span {
					transform: scale(0);
				}
			}
		}

		&__menu {
			position: absolute;
			overflow: auto;
			top: 0;
			left: 0;
			width: 310px;
			height: 100vh;
			background-color: #FCFCFC;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 0;
			transform: translateX(-100%);
			transition: all 0.5s;

			&.active {
				transform: translateX(0);
			}
		}

		&__links {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: 0 0 50px 0;
		}

		&__link {
			margin: 0;
			border-bottom: 1px solid #FFD9CF;

			&:last-child {
				border: 0;
			}

			&.toggle {
				display: flex;
				justify-content: space-between;
				padding: 25px 15px;
			}

			a {
				display: inline-block;
				width: 100%;
				padding: 25px 15px;
			}
		}

		.link__popup {
			&::before {
				content: url(../assets/icons/bi_chevron-down.svg);
				position: absolute;
				top: 34px;
				right: 10px;
				transform: translateY(-50%);
				display: block;
				transition: all 0.5s;
			}

			&.active {
				&::before {
					transform: scale(1, -1);
					top: 20px
				}
			}
		}

		&__popup {
			position: relative;
			top: 0;
			background-color: #FCFCFC;
			padding: 0 0 0 33px;
			overflow: hidden;
			font-size: 14px;
			transition: all 0.5s;
			transform: translateY(-100%);
	
			&.show {
				display: block;
				transform: translateY(0);
			}
	
			&__links {
				width: 300px;
			}
	
			&__link {
				margin: 0;
				padding: 0;
				border-bottom: 1px solid #FFD9CF;
	
				&:last-child {
					margin: 0;
					border: 0;
				}

				a {
					padding: 15px 0 15px 33px;
				}
			}
		}

		&__buttons {
			flex-direction: column;
			padding: 0 15px;
		}

		&__button {
			margin: 0 0 20px 0;
		}

		&__lang {

			&__options {
				top: 60px;
				right: 20px;
			}
		}
	}
}

.root {
	width: 100%;
	flex: 1 1 100%;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;

	&__pretitle {
		font-size: 24px;
		font-weight: 600;
		color: $primaryColor;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 400;
	}

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&._fullscreen {
		height: 100vh;
	}

	&__bg-img {
		height: 100%;
	}

	&__opacity {
		width: 100%;
		height: 100%;
		background-color: rgba($color: #fff, $alpha: 0.7);
		z-index: 1;
		position: absolute;

		&._half {
			background-color: rgba($color: #fff, $alpha: 0.5);
		}
	}

	&._gray {
		background-color: #FCFCFC;
	}

	@media(max-width: $desktop) {
		&__body {
			justify-content: center;
			align-items: center;
		}
	}
}

.start_screen {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0 0 0;

	&__title {
		margin: 0 0 80px 0;
	}

	&__button {
		justify-self: flex-end;
	}

	@media(max-width: $desktop) {
		width: 80%;
		align-items: center;

		&__title {
			text-align: center;
			margin: 0 0 40px 0;
		}
	}

	@media(max-width: $mobile) {
		width: 100%;
		align-items: center;

		&__title {
			text-align: center;
		}
	}
}

.values {
	width: 100%;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	&__header {
	}

	&__pretitle {
		text-align: center;
		margin: 0 0 60px 0;
	}

	&__title {
		text-align: center;
		margin: 0 0 60px 0;
	}

	&__subtitle {
		text-align: center;
		margin: 0 0 100px 0;
	}

	&__body {
	}

	@media(max-width: $mobile) {
		padding: 50px 0;

		&__pretitle {
			margin: 0 0 30px 0;
		}
	
		&__title {
			margin: 0 0 30px 0;
		}
	
		&__subtitle {
			margin: 0 0 40px 0;
		}
	}
}

.mission {
	padding: 150px 0;
	display: flex;
	justify-content: flex-end;

	&__row {
		flex: 0 0 75%
	}

	&__header {
		margin: 0 0 90px 0;
	}

	&__pretitle {
		margin: 0 0 60px 0;
	}

	&__title {
		margin: 0 0 40px 0;
	}

	@media(max-width: $desktop) {
		&__row {
			flex: 0 0 100%
		}

		&__pretitle {
			margin: 0 0 60px 0;
			text-align: center;
		}
	
		&__title {
			margin: 0 0 40px 0;
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__body {
			display: flex;
			justify-content: center;
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__row {
			flex: 0 0 100%
		}

		&__pretitle {
			margin: 0 0 20px 0;
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}
	}

}

.platform {
	width: 710px;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	&__image {
		display: flex;
		justify-content: center;
		margin: 0 0 80px 0;

		img {
			max-width: 100%;
		}
	}

	&__header {
	}

	&__title {
		text-align: center;
		margin: 0 0 50px 0;
	}

	&__subtitle {
		text-align: center;
	}

	&__body {
		display: flex;
		justify-content: center;
	}

	@media(max-width: $desktop) {
		width: 100%;
		padding: 80px 0;
	
		&__title {
			margin: 0 0 40px 0;
		}

		&__header {
			margin: 0 0 60px 0;
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__image {
			margin: 0 0 40px 0;
		}

		&__subtitle {
			font-size: 16px;
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}
	}
}

.portfolio {
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	&__header {
		width: 70%;
		align-self: center;
		margin: 0 0 100px 0;
	}

	&__title {
		text-align: center;
		margin: 0 0 50px 0;
	}

	&__subtitle {
		text-align: center;
		line-height: 24px;
	}

	@media(max-width: $desktop) {
		padding: 80px 0;
	
		&__title {
			margin: 0 0 40px 0;
		}

		&__header {
			margin: 0 0 60px 0;
			width: 100%;
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__subtitle {
			font-size: 16px;
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}
	}
}

.instruments {
	padding: 200px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		flex: 0 0 45%;
	}

	&__pretitle {
		margin: 30px 0 50px 0;
	}

	&__title {
		margin: 0 0 50px 0;
	}

	&__subtitle {
	}

	&__body {
		flex: 0 0 45%;

		&__header {
			font-size: 20px;
			font-weight: 400;
			margin: 0 0 80px 0;

			p {
				margin: 30px 0 0 0;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		flex: 0 0 33%;
		margin: 0 0 40px 0;

		&__num {
			font-size: 36px;
			font-weight: 600;
			color: $primaryColor;
			margin: 0 0 10px 0;
		}
	}

	@media(max-width: $medium) {
		padding: 80px 0;

		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	
		&__title {
			margin: 0 0 40px 0;
		}

	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__header {
			margin: 0 0 50px 0;
		}

		&__pretitle {
			text-align: center;
		}

		&__subtitle {
			font-size: 16px;
			text-align: center;
		}
	
		&__title {
			margin: 0 0 30px 0;
			text-align: center;
		}

		&__body {
			&__header {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				margin: 0 0 30px 0;
			}
		}
		&__list {
			justify-content: center;
			align-items: center;
		}
	}
}

.comfort {
	padding: 150px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		flex: 0 0 45%;
	}

	&__pretitle {
		margin: 0 0 50px 0;
	}

	&__title {
		margin: 0 0 50px 0;
	}

	&__subtitle {
	}

	&__body {
		flex: 0 0 45%;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 0 0 80px 0;

		&__num {
			min-width: 75px;
			min-height: 75px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 36px;
			font-weight: 600;
			color: $primaryColor;
			margin: 0 30px 0 0;

			background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
			box-shadow: 0px 10.6667px 19px rgba(39, 39, 39, 0.05), inset 0px -3.55556px 5px rgba(157, 157, 157, 0.5), inset 0px 3.55556px 3px rgba(227, 227, 227, 0.5);
		}

		&__title {
			font-size: 24px;
			font-weight: 600;
			color: $primaryColor;
			margin: 0 0 10px 0;
		}

		&__body {
			p {
				font-size: 18px;
			}
		}
	}

	@media(max-width: $medium) {
		padding: 80px 0;

		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__pretitle {
			text-align: center;
		}
	
		&__title {
			margin: 0 0 40px 0;
			text-align: center;
		}

		&__subtitle {
			display: flex;
			justify-content: center;
		}

		&__header {
			margin: 0 0 60px 0;
		}

		&__body {
			display: flex;
			justify-content: center;
			align-self: center;
		}

		&__list {
			width: 90%;
		}

	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__header {
			margin: 0 0 50px 0;
		}

		&__pretitle {
			text-align: center;
		}

		&__subtitle {
			font-size: 16px;
			text-align: center;
		}
	
		&__title {
			margin: 0 0 30px 0;
			text-align: center;
		}

		&__item {
			margin: 0 0 40px 0;

			:last-child {
				margin: 0;
			}
		}

		&__body {
			&__header {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				margin: 0 0 30px 0;
			}
		}
		&__list {
			justify-content: center;
			align-items: center;
		}
	}
}

.about_start {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

	&__title {
		margin: 0 0 40px 0;
	}

	&__subtitle {
		line-height: 24px;
	}

	@media(max-width: $desktop) {
		width: 80%;
		align-items: center;

		&__title {
			text-align: center;
			margin: 0 0 40px 0;
		}

		&__subtitle {
			text-align: center;
		}
	}

	@media(max-width: $mobile) {
		width: 100%;
		align-items: center;

		&__title {
			text-align: center;
		}

		&__subtitle {
			font-size: 16px;
		}
	}
}

.terminals {
	padding: 150px 0;
	display: flex;

	&__row {
		flex: 0 0 85%
	}

	&__header {
		margin: 0 0 80px 0;
	}

	&__title {
		margin: 0 0 50px 0;
	}

	&__body {
		display: flex;
	}

	&__button {
		margin: 0 35px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	@media(max-width: $desktop) {
		&__row {
			flex: 0 0 100%
		}
	
		&__title {
			margin: 0 0 40px 0;
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__body {
			display: flex;
			justify-content: center;
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__row {
			flex: 0 0 100%
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}

		&__body {
			flex-direction: column;
			align-items: center;
		}

		&__button {
			margin: 0 0 20px 0;
	
			&:last-child {
				margin: 0;
			}
		}
	}

}

.safety {

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		flex: 0 0 55%;
		padding: 150px 0;
	}

	&__pretitle {
		margin: 30px 0 50px 0;
	}

	&__title {
		margin: 0 0 50px 0;
	}

	&__subtitle {
	}

	&__body {
		flex: 0 0 40%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		img {
			max-width: 100%;
		}
	}

	@media(max-width: $desktop) {
		padding: 150px 0 0 0;

		&__row {
			flex-direction: column-reverse;
		}

		&__header {
			flex: 0 0 55%;
			padding: 0;
			margin: 0 0 50px 0;
		}

		&__pretitle {
			text-align: center;
		}
	
		&__title {
			text-align: center;
		}
	
		&__subtitle {
			text-align: center;
		}

		&__body {	
			align-items: center;
			img {
				max-width: 50%;
			}
		}
	}

	@media(max-width: $medium) {
		padding: 80px 0 0 0;
	
		&__title {
			margin: 0 0 40px 0;
		}

	}

	@media(max-width: $mobile) {
		padding: 60px 0 0 0;

		&__header {
			margin: 0 0 50px 0;
		}

		&__pretitle {
			text-align: center;
		}

		&__subtitle {
			font-size: 16px;
			text-align: center;
		}
	
		&__title {
			margin: 0 0 30px 0;
			text-align: center;
		}

		&__body {
		}
	}
}

.segregation {
	padding: 150px 0;
	display: flex;

	&__row {
		flex: 0 0 70%
	}

	&__header {
		margin: 0 0 50px 0;
	}

	&__pretitle {
		margin: 0 0 50px 0;
	}

	&__body {
		font-size: 20px;
		line-height: 24px;
	}

	@media(max-width: $desktop) {
		&__row {
			flex: 0 0 100%
		}

		&__pretitle {
			margin: 0 0 60px 0;
			text-align: center;
		}
	
		&__title {
			margin: 0 0 40px 0;
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__body {
			display: flex;
			justify-content: center;
			flex-direction: column;

			p {
				text-align: center;
			}
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__row {
			flex: 0 0 100%
		}

		&__pretitle {
			margin: 0 0 20px 0;
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}

		&__body {
			font-size: 16px;
			line-height: 16px;
		}
	}

}

.liquidity {
	padding: 150px 0;
	display: flex;

	&__row {
		flex: 0 0 100%
	}

	&__header {
		margin: 0 0 80px 0;
	}

	&__title {
		margin: 0 0 40px 0;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 24px;
	}

	&__body {
		display: flex;
	}

	&__tab-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__image {
			flex: 0 0 120px;
			height: 120px;
			margin: 0 50px 0 0;

			img {
				max-width: 100%;
			}
		}

		&__title {
			margin: 0 0 20px 0;
			font-size: 20px;
			font-weight: 600;
			line-height: 23px;
			letter-spacing: 0em;
			text-align: left;
		}

		&__text {
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0em;
		}
	}

	@media(max-width: $desktop) {
		&__row {
			flex: 0 0 100%
		}
	
		&__title {
			margin: 0 0 40px 0;
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		&__body {
			display: flex;
			justify-content: center;
		}
	}

	@media(max-width: $medium) {
		padding: 120px 0;
		&__header {
			margin: 0 0 60px 0;
		}
		&__tab-content {
			flex-direction: column;
	
			&__image {
				margin: 0 0 15px 0;
			}
	
			&__title {
				text-align: center;
				font-size: 16px;
				line-height: 18px;
			}
	
			&__text {
				font-size: 20px;
				line-height: 23px;
				letter-spacing: 0em;
				text-align: center;
			}
		}
	}

	@media(max-width: $mobile) {
		padding: 60px 0;

		&__row {
			flex: 0 0 100%
		}
	
		&__title {
			margin: 0 0 30px 0;
		}

		&__header {
			margin: 0 0 40px 0;
		}

		&__body {
			flex-direction: column;
			align-items: center;
		}

	}

}

.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $dark;

	&__body  {
		display: flex;
		flex-direction: column;
		padding: 60px 0;
		color: #fff;
	}

	&__columns {
		display: flex;
		margin: 0 0 80px 0;
	}

	&__column  {
		display: flex;
		flex-direction: column;
		margin: 0 120px 0 0;

		&:last-child {
			margin: 0px;
		}
		
		&__header {
			margin: 0 0 50px 0;
			font-size: 20px;
			color: $primaryColor;
		}
	}

	&__links {
		margin: 0 0 20px 0;
		a {
			color: #fff;
			font-size: 16px;
			line-height: 19px;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__sublinks {
		margin: 0 0 20px 30px;

		a {
			color: #fff;
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__info  {
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}

	&__paragraph  {
		margin: 0 0 20px 0;
		
		&__title  {
			font-weight: 600;
			margin: 0 0 5px 0;
		}

		&__text  {
			line-height: 16px;
		}
	}

}

@media(max-width: $mobile) {
	.footer {

		&__columns {
			flex-direction: column;
		}

		&__column {
			margin: 0 0 55px 0;
		}
	}

}
